.ticker {
  position: relative;
  overflow: hidden;
}

.afterHero {
  padding: 22.78px 0 28.14px;
  background:
    radial-gradient(circle at 20% 20%, rgba(117, 225, 195, .10), transparent 28%),
    linear-gradient(
      180deg,
      #ffffff 0%,
      #fbfdfc 42%,
      #fff9f8 100%
    );
}

.beforePrograms {
  padding: 22.78px 0 62.98px;
  background:
    radial-gradient(circle at 15% 35%, rgba(201, 173, 255, .09), transparent 28%),
    radial-gradient(circle at 82% 68%, rgba(83, 221, 146, .16), transparent 31%),
    linear-gradient(
      180deg,
      #fff9f8 0%,
      #fbfaf9 18%,
      #f3faf6 44%,
      #e7f8ec 70%,
      #d7f6e7 100%
    );
}

.row {
  overflow: hidden;
  margin: 9.38px 0;
}

.track {
  display: flex;
  width: max-content;
  gap: 16.08px;
  animation: tickerMove 42s linear infinite;
  will-change: transform;
}

.reverse {
  animation-direction: reverse;
}

.track span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 62.98px;
  padding: 0 30.82px;
  border-radius: 16.08px;
  background:
    linear-gradient(135deg, rgba(220,245,244,.98), rgba(201,239,232,.98));
  border: 0.67px solid rgba(36, 112, 123, .035);
  color: #185270;
  font-size: 18.76px;
  line-height: 1;
  font-weight: 800;
  white-space: nowrap;
  box-shadow: 0 5.36px 12.06px rgba(24,82,112,.04);
}

.bridgeArrow {
  position: absolute;
  left: 50%;
  bottom: 5.36px;
  transform: translateX(-50%);
  width: 22.78px;
  height: 44.22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(37, 77, 57, .72);
}

.bridgeArrow i {
  width: 0;
  height: 22.78px;
  border-left: 2.01px dashed rgba(37, 77, 57, .58);
}

.bridgeArrow b {
  margin-top: -1.34px;
  font-size: 22.78px;
  line-height: 1;
  font-weight: 500;
}

@keyframes tickerMove {
  to { transform: translateX(-50%); }
}

@media (max-width: 804px) {
  .afterHero { padding: 17.42px 0 21.44px; }
  .beforePrograms { padding: 17.42px 0 54.94px; }

  .row { margin: 6.7px 0; }
  .track { gap: 12.06px; }

  .track span {
    min-height: 49.58px;
    padding: 0 22.78px;
    border-radius: 12.73px;
    font-size: 14.74px;
  }
}

@media (max-width: 469px) {
  .afterHero { padding: 12.06px 0 14.74px; }
  .beforePrograms { padding: 12.06px 0 44.22px; }

  .track { gap: 8.04px; }

  .track span {
    min-height: 36.18px;
    padding: 0 16.08px;
    border-radius: 9.38px;
    font-size: 10.72px;
  }

  .bridgeArrow { height: 32.16px; }
  .bridgeArrow i {
    height: 16.08px;
    border-left-width: 1.34px;
  }
  .bridgeArrow b { font-size: 17.42px; }
}
